/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    /*line-height: 0;*/
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.parallax img {
    display: inline!important;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.header {
    text-shadow: 3px 3px lightgoldenrodyellow;
    background-color: rgba(242, 242, 242, .5);
    box-shadow: 0 0 3px 10px rgba(242, 242, 242, .3);
}

.links a {
    text-decoration: none!important;
}

.standout {
    font-weight: bold;
    color: green;
}

.centerblock {
    text-align: center;
}

.poemsection {
    /*display: none!important;*/
}

.hidesection {
    display: none!important;
}

.mytitle {
    letter-spacing: 2px;
}

div {
    font-family: Georgia, Times, "Times New Roman", serif;
}

strong {
    font-weight: bold;
}

h6 {
    line-height: inherit;
}

.left-poem {
    text-align: left;
}

@font-face {
    font-family: 'quran';
    src: url("../fonts/quran.ttf") format("truetype");
}

.quran {
    font-family: 'quran';
    line-height: 200%;
}

.noshow {
    color: white;
}